input {
  border: 1px lightseagreen solid;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  color: darkslategrey;
}

label {
  margin: 3px;
  display: block;
}

.error{
  color: red
}

.form {
  width: 300px;
  border: 1px lightseagreen solid;
  padding: 20px;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.inputErrors {
  color: red;
  font-weight: 600;
}
.header{
  display: flex;
  justify-content: space-between;
  width: 300px;
  font-weight: 800;
  font-size: 24px;
}
.header a{
  text-decoration: none;
}